@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="nav">
        <button id="menuToggle"><i class='bx bx-menu'></i></button>
        <div class="search">
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search for jobs or companies">
        </div>
        <div class="city">
            <i class='bx bxs-location-plus'></i>
            <input type="text" placeholder="Enter city, state, or region">
        </div>
        <button>Search</button>
        <i class='bx bx-bell'></i>
        <div class="user-info">
            <img src="~/assets/profile-1.png">
            <div>
                <a href="#">Reza.UI <i class='bx bx-chevron-down'></i></a>
                <p>Reza@Test.com</p>
            </div>
        </div>
    </div>
    <main role="main" class="pb-3">
        <div class="content">
            <div class="header">
                <h4>Opportunities matching your skills <span>300</span></h4>
                <p>Here are jobs that fit your skill set</p>
            </div>

            <div class="job-cards">
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-apple'></i>
                            <div>
                                <h5>Apple <span>| Just Now</span></h5>
                                <a href="#">Junior UI Designer</a>
                                <p>San Francisco, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Remote</a>
                        <a href="#">Freelance</a>
                    </div>
                    <div class="card-desc">
                        We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-apple'></i>
                            <div>
                                <h5>Apple <span>| Just Now</span></h5>
                                <a href="#">Junior UI Designer</a>
                                <p>San Francisco, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Remote</a>
                        <a href="#">Freelance</a>
                    </div>
                    <div class="card-desc">
                        We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-apple'></i>
                            <div>
                                <h5>Apple <span>| Just Now</span></h5>
                                <a href="#">Junior UI Designer</a>
                                <p>San Francisco, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Remote</a>
                        <a href="#">Freelance</a>
                    </div>
                    <div class="card-desc">
                        We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-apple'></i>
                            <div>
                                <h5>Apple <span>| Just Now</span></h5>
                                <a href="#">Junior UI Designer</a>
                                <p>San Francisco, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Remote</a>
                        <a href="#">Freelance</a>
                    </div>
                    <div class="card-desc">
                        We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-microsoft'></i>
                            <div>
                                <h5>Microsoft <span>| Just Now</span></h5>
                                <a href="#">Junior Software Engineer</a>
                                <p>Seattle, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Full Time</a>
                        <a href="#">On Site</a>
                    </div>
                    <div class="card-desc">
                        Microsoft is looking for a Junior Software Engineer to develop and maintain software applications. If you have a keen interest in coding and problem-solving, apply now.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-google'></i>
                            <div>
                                <h5>Google  <span>| Today</span></h5>
                                <a href="#">Junior Data Scientist</a>
                                <p>Mountain View, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Part-Time</a>
                        <a href="#">Remote</a>
                    </div>
                    <div class="card-desc">
                        Google is hiring a Junior Data Scientist to analyze large datasets and provide actionable insights. The ideal candidate should be proficient in data analysis tools and techniques.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-facebook'></i>
                            <div>
                                <h5>Facebook  <span>| This Week</span></h5>
                                <a href="#">Junior Product Manager</a>
                                <p>Menlo Park, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Freelance</a>
                        <a href="#">On Site</a>
                    </div>
                    <div class="card-desc">
                        Join Facebook as a Junior Product Manager. We are looking for someone who can assist in product development and management, ensuring high-quality user experiences.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxl-amazon'></i>
                            <div>
                                <h5>Amazon <span>| Today</span></h5>
                                <a href="#">Junior Cloud Engineer</a>
                                <p>Seattle, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Full Time</a>
                        <a href="#">Remote</a>
                    </div>
                    <div class="card-desc">
                        Amazon is looking for a Junior Cloud Engineer to join our AWS team. You will be responsible for supporting cloud infrastructure and services, ensuring optimal performance and security.
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="job-info">
                            <i class='bx bxs-car'></i>
                            <div>
                                <h5>Tesla <span>| Today</span></h5>
                                <a href="#">Junior Robotics Engineer</a>
                                <p>Palo Alto, USA</p>
                            </div>
                        </div>
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                    <div class="card-tags">
                        <a href="#">Internship</a>
                        <a href="#">On Site</a>
                    </div>
                    <div class="card-desc">
                        Tesla is seeking a Junior Robotics Engineer to work on the development and maintenance of robotic systems. If you are passionate about robotics and automation, join our innovative team.
                    </div>
                </div>
            </div>

        </div>
        <div class="filters">
            <div class="header">
                <h3>Araç Filtrele</h3>
                <a href="#">Filtreyi temizle</a>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Marka</h4>
                    <!--<a href="#">Filtreyi temizle</a>-->
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="bmw">
                        <label for="bmw">BMW</label>
                    </div>
                    <p>50 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="mercedes">
                        <label for="mercedes">Mercedes</label>
                    </div>
                    <p>150 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="audi">
                        <label for="audi">Audi</label>
                    </div>
                    <p>20 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="volvo">
                        <label for="volvo">Volvo</label>
                    </div>
                    <p>14 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="fiat">
                        <label for="fiat">Fiat</label>
                    </div>
                    <p>65 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="tofas">
                        <label for="tofas">Tofaş</label>
                    </div>
                    <p>80 Adet</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Kasa Tipi</h4>
                    <!--<a href="#">Clear</a>-->
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="suv">
                        <label for="suv">SUV</label>
                    </div>
                    <p>50 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="sedan">
                        <label for="sedan">Sedan</label>
                    </div>
                    <p>100 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="cross">
                        <label for="cross">Cross</label>
                    </div>
                    <p>45 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="hacbag">
                        <label for="hacbag">Hacbag</label>
                    </div>
                    <p>50 Adet</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Yakıt Tipi</h4>
                    <!--<a href="#">Clear</a>-->
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="gassoline">
                        <label for="gassoline">Benzin</label>
                    </div>
                    <p>350 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="diesel">
                        <label for="diesel">Dizel</label>
                    </div>
                    <p>140 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="electric">
                        <label for="electric">Elektrik</label>
                    </div>
                    <p>40 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="hybrid">
                        <label for="hybrid">Hybrid</label>
                    </div>
                    <p>25 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="lpg">
                        <label for="lpg">LPG</label>
                    </div>
                    <p>110 Adet</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Vites Tipi</h4>
                    <!--<a href="#">Clear</a>-->
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="manual">
                        <label for="manual">Manuel</label>
                    </div>
                    <p>450 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="automatick">
                        <label for="automatick">Otomatik</label>
                    </div>
                    <p>260 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="semi-auto">
                        <label for="semi-auto">Yarı Otomatik</label>
                    </div>
                    <p>65 Adet</p>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Araç Konumu</h4>
                    <!--<a href="#">Clear</a>-->
                </div>
                <div class="location">
                    <i class='bx bxs-location-plus'></i>
                    <input type="text" placeholder="Konum Seç">
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h4>Renk</h4>
                    <!--<a href="#">Clear</a>-->
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="red">
                        <label for="red">Kırmızı</label>
                    </div>
                    <p>79 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="blue">
                        <label for="blue">Mavi</label>
                    </div>
                    <p>66 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="gray">
                        <label for="gray">Gri</label>
                    </div>
                    <p>45 Adet</p>
                </div>
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="brown">
                        <label for="brown">Kahverengi</label>
                    </div>
                    <p>145 Adet</p>
                </div>
            </div>
            <div class="item">
                <button class="button-filter">Uygula</button>
            </div>
        </div>
    </main>
</div>
