**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/out
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/node_modules
**/.env
**/*.md
**/.DS_Store
**/appsettings.Development.json
