**/.vs/
*.vsidx/
bin
obj

packages

.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

*.log
*.tmp
*.bak

/NLayer.API/obj/
/NLayer.Core/obj/
/NLayer.Repository/obj/
/NLayer.Service/obj/
/NLayer.Web/obj/
/NLayer.API/bin/
/NLayer.Core/bin/
/NLayer.Repository/bin/
/NLayer.Service/bin/
/NLayer.Web/bin/
