@model UserDto

@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<head>
    <link rel="stylesheet" href="~/css/login-page.css" asp-append-version="true" />
</head>
<div class="nav">
    <button id="menuToggle"><i class='bx bx-menu'></i></button>
</div>
<main role="main" class="pb-3">
    <div class="login-page">

        <div class="container">
            <h1>Hesap Oluştur! </h1>
            <div class="social-login">
                <button class="google">
                    <i class='bx bxl-google'></i>
                    Google ile Giriş
                </button>
                <button class="google">
                    <i class='bx bxl-apple'></i>
                    Apple ile Giriş
                </button>
            </div>
            <div class="divider">
                <div class="line"></div>
                <p>Veya</p>
                <div class="line"></div>
            </div>

            <form asp-controller="Login" asp-action="Register" method="post">
                <label for="name">İsim</label>
                <div class="custome-input">
                    <input asp-for="Name" type="text" name="name" placeholder="İsminiz" autocomplete="off" required>
                    <i class='bx bx-face'></i>
                </div>
                <span asp-validation-for="Name" class="danger-span-alert"></span>
                <label for="LastName">Soyisim</label>
                <div class="custome-input">
                    <input asp-for="LastName" type="text" name="LastName" placeholder="Soyisminiz" autocomplete="off" required>
                    <i class='bx bx-face'></i>
                </div>
                <span asp-validation-for="LastName" class="danger-span-alert"></span>
                <label for="BirthDate">Doğum Tarihi</label>
                <div class="custome-input" id="dateInput">
                    <input asp-for="BirthDate" type="date" id="birthdateInput" name="BirthDate" placeholder="Doğum Tarihiniz" autocomplete="off" required>
                    <i class='bx bx-calendar'></i>
                </div>
                <span asp-validation-for="BirthDate" class="danger-span-alert"></span>
                <label for="PhoneNumber">Telefon Numarası</label>
                <div class="custome-input">
                    <input asp-for="PhoneNumber" type="number" name="PhoneNumber" maxlength="11" placeholder="Telefon Numaranız" autocomplete="off" required>
                    <i class='bx bx-phone'></i>
                </div>
                <span asp-validation-for="PhoneNumber" class="danger-span-alert"></span>
                <label for="Email">Email</label>
                <div class="custome-input">
                    <input asp-for="Email" type="email" name="Email" placeholder="Mail Adresiniz" autocomplete="off" required>
                    <i class='bx bx-envelope'></i>
                </div>
                <span asp-validation-for="Email" class="danger-span-alert"></span>
                <label for="Password">Şifre</label>
                <div class="custome-input">
                    <input asp-for="Password" type="password" name="Password" placeholder="Şifreniz" required>
                    <i class='bx bx-lock-alt'></i>
                </div>
                <span asp-validation-for="Password" class="danger-span-alert"></span>
                <label for="PasswordAgain">Şifre Tekrar</label>
                <div class="custome-input">
                    <input asp-for="PasswordAgain" type="password" name="PasswordAgain" placeholder="Şifrenizi Doğrulayın" required>
                    <i class='bx bx-lock-alt'></i>
                </div>
                <span asp-validation-for="PasswordAgain" class="danger-span-alert"></span>
                <button type="submit" class="login">Kayıt Ol</button>
            </form>

        </div>
    </div>
</main>