@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}
<div class="nav">
    <button id="menuToggle"><i class='bx bx-menu'></i></button>
</div>
<main role="main" class="pb-3">
    <div class="content">
        <div class="header">
            <h4>Kaydedilen Araçlar <span>4</span></h4>
            <p>Kaydettiğiniz araçları buradan kontrol edebilirsiniz</p>
        </div>

        <div class="job-cards">
            <div class="card">
                <div class="card-header">
                    <div class="job-info">
                        <i class="bx bxl-apple"></i>
                        <div>
                            <h5>Apple <span>| Just Now</span></h5>
                            <a href="#">Junior UI Designer</a>
                            <p>San Francisco, USA</p>
                        </div>
                    </div>
                    <i class='bx bx-bookmark-plus active'></i>
                </div>
                <div class="card-tags">
                    <a href="#">Remote</a>
                    <a href="#">Freelance</a>
                </div>
                <div class="card-desc">
                    We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="job-info">
                        <i class='bx bxl-apple'></i>
                        <div>
                            <h5>Apple <span>| Just Now</span></h5>
                            <a href="#">Junior UI Designer</a>
                            <p>San Francisco, USA</p>
                        </div>
                    </div>
                    <i class='bx bx-bookmark-plus active'></i>
                </div>
                <div class="card-tags">
                    <a href="#">Remote</a>
                    <a href="#">Freelance</a>
                </div>
                <div class="card-desc">
                    We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="job-info">
                        <i class='bx bxl-apple'></i>
                        <div>
                            <h5>Apple <span>| Just Now</span></h5>
                            <a href="#">Junior UI Designer</a>
                            <p>San Francisco, USA</p>
                        </div>
                    </div>
                    <i class='bx bx-bookmark-plus active'></i>
                </div>
                <div class="card-tags">
                    <a href="#">Remote</a>
                    <a href="#">Freelance</a>
                </div>
                <div class="card-desc">
                    We are seeking a Junior UI Designer with a passion for creating intuitive user interfaces. Join our dynamic team at Apple and contribute to innovative design projects.
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="job-info">
                        <i class='bx bxs-car'></i>
                        <div>
                            <h5>Tesla <span>| Today</span></h5>
                            <a href="#">Junior Robotics Engineer</a>
                            <p>Palo Alto, USA</p>
                        </div>
                    </div>
                    <i class='bx bx-bookmark-plus active'></i>
                </div>
                <div class="card-tags">
                    <a href="#">Internship</a>
                    <a href="#">On Site</a>
                </div>
                <div class="card-desc">
                    Tesla is seeking a Junior Robotics Engineer to work on the development and maintenance of robotic systems. If you are passionate about robotics and automation, join our innovative team.
                </div>
            </div>
        </div>

    </div>
</main>